.card {
  width: 250px;
  height: auto;
  min-height: 500px;
  background-color: #eee;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.img-card {
  width: 100%;
  margin: 0 auto;
}

.buttons-card {
  width: 100%;
}

.buttons-card button {
  width: 50%;
  border: none;
  background: #999;
  height: 50px;
  border-radius: 10px;
}

.list {
  width: 100%;
  height: auto;
  box-sizing: 0.5em;
  display: flex;
  flex-direction: row;
  background-color: rgb(222, 222, 222, 0.2);
  justify-content: space-around;
  padding: 0.5em;
  align-items: center;
  margin-bottom: 0.5em;
  border-radius: 10px;
}

.img-list {
  height: 80px;
  margin: 0.3em;
}

.title-list {
  display: flex;
  position: relative;
  align-items: center;
  width: 30%;
  margin: 0;
}

.description-list {
  display: flex;
  align-items: center;
  width: 30%;
}

.buttons-list {
  width: 100%;
}

.buttons-list button {
  width: 50%;
  border: none;
  background: #999;
  height: 50px;
  border-radius: 10px;
}
