.row-container {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 1fr;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
  justify-content: space-between;
  gap: 1em;
}

.img-row {
  height: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.description-row {
  margin: 0px 10px 0px 10px;
}

.options-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
}
